# Excel Citation

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [1]:
from IPython.display import YouTubeVideo
# YouTubeVideo('', width=720, height=405)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import json
from pandas.io.json import json_normalize
import requests
from PIL import Image
import io
import random

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [3]:
print(f'pandas version:  {pd.__version__}')
print(f'seaborn version: {sns.__version__}')

pandas version:  0.25.1
seaborn version: 0.9.0

In [4]:
pd.Timestamp.now()

Timestamp('2020-01-15 18:41:50.082471')

In [5]:
pd.Timestamp.now().strftime('%Y-%m-%d')

'2020-01-15'

In [10]:
url='before.xls'
df=pd.read_excel(url, skiprows=12)
df[:5]

,Title,Authors,Year,Scopus Source title,Volume,Issue,Pages,Citations
0,Auditor Independence and Audit Quality: A Lite...,"Tepalagul, N., Lin, L.",2015.0,"Journal of Accounting, Auditing and Finance",30,1,101-121,44.0
1,A novel architecture for requirement-oriented ...,"Xu, L.D., Viriyasitavat, W.",2014.0,IEEE Transactions on Industrial Informatics,10,2,1478-1485,42.0
2,Compliance checking for requirement-oriented s...,"Viriyasitavat, W., Xu, L.D., Viriyasitavat, W.",2014.0,IEEE Transactions on Industrial Informatics,10,2,1469-1477,37.0
3,The societal relevance of management accountin...,"Chiwamit, P., Modell, S., Yang, C.L.",2014.0,Accounting and Business Research,44,2,144-180,31.0
4,A new approach for compliance checking in serv...,"Viriyasitavat, W., Xu, L.D., Viriyasitavat, W.",2014.0,IEEE Transactions on Industrial Informatics,10,2,1452-1460,30.0

In [11]:
url='after.xlsx'
df=pd.read_excel(url, skiprows=12)
df[:5]

,Unnamed: 0,Title,Authors,Year,Scopus Source title,Volume,Issue,Pages,Citations
0,1.0,Auditor Independence and Audit Quality: A Lite...,"Tepalagul, N., Lin, L.",2015.0,"Journal of Accounting, Auditing and Finance",30,1,101-121,43.0
1,2.0,A novel architecture for requirement-oriented ...,"Xu, L.D., Viriyasitavat, W.",2014.0,IEEE Transactions on Industrial Informatics,10,2,1478-1485,41.0
2,3.0,Compliance checking for requirement-oriented s...,"Viriyasitavat, W., Xu, L.D., Viriyasitavat, W.",2014.0,IEEE Transactions on Industrial Informatics,10,2,1469-1477,36.0
3,4.0,The societal relevance of management accountin...,"Chiwamit, P., Modell, S., Yang, C.L.",2014.0,Accounting and Business Research,44,2,144-180,31.0
4,5.0,Revenue maximization with a single sample,"Dhangwatnotai, P., Roughgarden, T., Yan, Q.",2015.0,Games and Economic Behavior,91,-,318-333,29.0

In [12]:
df.columns=['Date', 'Price']

ValueError: Length mismatch: Expected axis has 9 elements, new values have 2 elements

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
Unnamed: 0             196 non-null float64
Title                  197 non-null object
Authors                196 non-null object
Year                   196 non-null float64
Scopus Source title    196 non-null object
Volume                 196 non-null object
Issue                  196 non-null object
Pages                  196 non-null object
Citations              196 non-null float64
dtypes: float64(3), object(6)
memory usage: 14.0+ KB

In [9]:
df[:5]

NameError: name 'df' is not defined